:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body {
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    color: navy;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    padding: 30px;
    border-radius: 3px;
}

.navbar {
    height: 70px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.navbar.bg-light {
    background-color: navy !important;
    padding: 20px;
}

.navbar-brand,
.nav-link {
    color: whitesmoke !important;
}

.nav-link:hover {
    color: #cce5ff !important;
}

.page-container {
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
    background-color: ghostwhite;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 50px !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn {
    background-color: navy !important;
    border-color: navy;
    color: whitesmoke !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.register-box {
    max-width: 400px;
}

.form-group {
    font-size: 13px;

}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
